<div>
    <input type="text" class="form-control"  #myInputText placeholder="Title..." [(ngModel)] = "title">
    <input type="text" class="form-control" #myInputTitle placeholder="Text..." [(ngModel)]="text">
    <button class="btn"  (click)="addPost()">Add post!</button>
    <button class="btn" (click)="onLoadDefault()">Default style</button>
    <hr/>
    <h2>Search posts!</h2>
    <!--delete keyup-->
    <input type="text" class="form-control"
    placeholder="Search..." [(ngModel)]="titleSearching">
    <button class="btn"  (click)="onChangeSearchTitle(titleSearching); onChangeSearchText('')">Filter by title</button>
    <button class="btn"  (click)="onChangeSearchText(titleSearching); onChangeSearchTitle('')">Filter by text</button>
    <button class="btn" (click)="onChangeSearchTitle(''); onChangeSearchText(''); titleSearching=''">Clean filter</button>

    </div>
    